<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <title>test2</title>
    <script src="../static/js/ext-all.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
          // Ext.create('Ext.container.Container',{
          //     renderTo:Ext.getBody(),
          //     layout:'accordion',
          //     width:600,
          //     items:[{
          //         title:'Panel 1',
          //         html:'Panel html1'
          //     },{
          //         title:'Panel 1',
          //         html:'Panel html1'
          //     },{
          //         title:'Panel 1',
          //         html:'Panel html1'
          //     },{
          //         title:'Panel 1',
          //         html:'Panel html1'
          //     }]
          // });
          Ext.create('Ext.container.Container',{
              renderTo:Ext.getBody(),
              layout:'accordion',
              width:500,
              items:[{
                  title:'Panel1',
                  html:'Panel html'
              },{
                  title:'Panel1',
                  html:'Panel html'
              },{
                  title:'Panel1',
                  html:'Panel html'
              },{
                  title:'Panel1',
                  html:'Panel html'
              }]
          })

        })
    </script>
</head>
<body>

</body>
</html>
