<!DOCTYPE html>
<!-- release v4.2.8, copyright 2014 - 2015 Kartik Visweswaran -->
<html lang="en">
    <head>
            <meta charset="UTF-8"/>
            <title>Krajee JQuery Plugins - &copy; Kartik</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
            <link href="../static/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
            <script src="../static/js/jquery-3.4.1.min.js"></script>
            <script src="../static/js/fileinput.js" type="text/javascript"></script>
            <script src="../static/js/locales/zh.js" type="text/javascript"></script>
        </head>
    <body>
        <div class="container kv-main">
               <form enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                    </div>
                </form>
             
            </div>
    </body>
    <script>
    initFileInput();
    function initFileInput() {
        $("#file-5").fileinput({//#file-5是input框的id
            language: 'zh'//设置语言为中文
        })
    }
</script>
</html>

