<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_mybatis.dao.MangaDao" >
    <resultMap id="MangaMap" type="com.example.demo_mybatis.entity.Manga">
        <id column="m_id" property="mId"/>
        <result column="m_name" property="mName"/>
        <result column="m_desc" property="mDesc"/>
        <result column="m_time" property="mTime"/>
        <result column="m_dir" property="mDir"/>
        <association property="uploader" column="m_uid" select="getUserById"/>
    </resultMap>
    <select id="getUserById" parameterType="int" resultType="com.example.demo_mybatis.entity.User">
        select u_id uId,u_name uName,u_pass uPass,u_age uAge from tb_user  where u_id=#{0}
    </select>

    <select id="getMangas" resultMap="MangaMap">
        select m_id,m_name,m_desc,m_time,m_dir,m_uid from tb_manga
    </select>

    <select id="getMangaById" resultMap="MangaMap" parameterType="int">
        select m_id,m_name,m_desc,m_time,m_dir,m_uid from tb_manga where m_id=#{0}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from tb_manga
    </select>

    <insert id="addManga" parameterType="Manga">
        insert into tb_manga (m_name,m_desc,m_time,m_dir,m_uid)
        values (#{mName},#{mDesc},#{mTime},#{mDir},#{uploader.uId});
    </insert>

    <select id="getMine" parameterType="com.example.demo_mybatis.entity.User" resultMap="MangaMap">
        select m_id,m_name,m_desc,m_time,m_dir,m_uid from tb_manga where m_uid=#{uId}
    </select>





</mapper>
